html,
body {
    background-image: url(../img/fundoPoker.jpeg);
    width: 100%;
    height: 100%;
}


/*MENU INICIAL & INSTRUÇÃO*/

#instrucao {
    background-color: rgb(0, 60, 0);
    margin-left: 1%;
    margin-top: 3%;
    width: 13%;
    height: 52%;
    position: absolute;
    border: 1px solid blue;
    color: white;
    font-size: 18px;
}

#instrucao p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    text-align: center;
}

.boxBotaoMenu {
    background-color: green;
    width: 90%;
    height: 30%;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 15%;
    box-shadow: 0px 0px 15px blue;
    border: 3px solid blue;
    color: white;
}

#menu :hover {
    background-color: rgb(0, 60, 0);
}

#menu {
    margin-top: 30%;
    margin-left: 0.5%;
    width: 13%;
    height: 30%;
    position: absolute;
}

.menuBotao {
    margin-top: 13%;
    margin-left: 25%;
}


/*ESTILO DA MESA, DAS CARTAS DO JOGADOR E DO DEALER*/

#mesaJogo {
    margin-left: 1.5%;
    width: 97%;
    height: 97%;
    border-radius: 0% 0% 50% 50%;
    background-image: url(../img/mesaBJ.png);
    background-size: 100% 100%;
}

#mesaMadeira {
    margin-left: 15%;
    width: 72%;
    height: 82%;
    border-radius: 0% 0% 50% 50%;
    background-image: url(../img/madeira.jpeg);
    background-size: 100% 100%;
}

.boxCarta {
    width: 6%;
    height: 20%;
    position: absolute;
    margin-left: 28%;
    transition: 1s;
}

#cartaDealer1 {
    background-color: darkslategray;
    margin-top: 2%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
}

#cartaJogador1 {
    background-color: darkslategray;
    margin-top: 25%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
}

#cartaDealer2 {
    background-color: darkslategray;
    margin-top: 2%;
    margin-left: 35%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
}

.cartasMaisDealer {
    width: 6%;
    height: 0%;
    position: absolute;
    background-color: darkslategray;
    margin-top: 2%;
    margin-left: 35%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
    transition: 1s;
}

#cartaJogador2 {
    background-color: darkslategray;
    margin-top: 25%;
    margin-left: 35%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
}

.cartasMais {
    width: 6%;
    height: 0%;
    position: absolute;
    background-color: darkslategray;
    margin-top: 25%;
    margin-left: 35%;
    display: none;
    background-size: 100% 100%;
    border-radius: 7%;
    transition: 1s;
}


/*ESTILO RESULTADO VITORIA OU DERROTA*/

#resultadoFinal {
    width: 30%;
    height: 25%;
    position: absolute;
    margin-left: 20%;
    margin-top: 12%;
    background-color: black;
    border: solid 2px red;
    box-shadow: 0px 0px 15px red;
    display: none;
}

#mensagemResultado {
    font-size: 45px;
    margin-left: 25%;
    margin-top: 3%;
    color: white;
}

#botaoProximaPartida {
    font-size: 25px;
    margin-left: 18%;
    margin-top: 7%;
}


/*ESTILO LOCAL DE APOSTAS E PONTOS*/

#apostas {
    margin-top: 35%;
    margin-left: 28%;
    width: 7%;
    font-size: 15px;
    text-align: center;
    position: absolute;
}

#betBotao {
    margin-top: 35%;
    margin-left: 37%;
    font-size: 15px;
    text-align: center;
    position: absolute;
}

#pontoJogador {
    width: 5%;
    height: 5%;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    background-color: rosybrown;
    position: absolute;
    margin-top: 29%;
    margin-left: 43%;
    display: none;
}

#pontoDealer {
    width: 5%;
    height: 5%;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    background-color: rosybrown;
    position: absolute;
    margin-top: 2%;
    margin-left: 43%;
    display: none;
}


/*ESTILO DOS BOTOES E DA AREA DOS BOTOES*/

#boxBotao {
    float: left;
    width: 50%;
    height: 15%;
    margin-left: 25%;
}

.botoesJogadas {
    float: left;
    width: 13%;
    height: 80%;
    background-color: rgb(0, 100, 0);
    border-radius: 100%;
    border: solid 2px yellow;
    box-shadow: 0px 0px 15px yellow;
    margin-left: 9%;
    margin-top: 1.5%;
    color: white;
}

#botaoSplit p {
    font-size: 22px;
    margin-left: 16%;
    margin-top: 32%;
}

#botaoStand p {
    font-size: 22px;
    margin-left: 10%;
    margin-top: 32%;
}

#botaoHit p {
    font-size: 22px;
    margin-left: 28%;
    margin-top: 32%;
}

#botaoDouble p {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 32%;
}

.botoesJogadas:hover {
    background-color: rgb(0, 60, 0);
}


/*ESTILO BOX DO SALDO*/

#boxSaldo {
    margin-top: 2%;
    float: left;
    background-color: black;
    border: solid 2px red;
    box-shadow: 0px 0px 15px red;
    width: 13%;
    height: 10%;
    margin-left: 5%;
    color: white;
}

#boxSaldoTotal {
    float: left;
    color: white;
}

#boxSaldo section {
    margin-top: 8%;
    margin-left: 5%;
    width: 30%;
    height: 60%;
}

#boxSaldo section img {
    width: 100%;
    height: 100%;
}


/*CLASSES PARA JS*/

.padraoCartasDireita {
    margin-left: 35%;
}